extends layout
include ../components/mixins

append variable
  - 
    let page            = "invoices"
    let pageTitle       = "الطالب - الفواتير"


//- content This page
block studentContent
  // Start teacher heading section
  section.student-heading
    h1.heading.text-center الفواتير
  // End teacher heading section
  // Start student invoices section
  section.student-invoices
    ul.teacher-list.student-list
      - for(let i = 1; i <= 4; i++)
        li  
          article.student-list-box 
            section.list-item
              .box 
                .image #[img(src=`${siteDomin}/assets/images/icons/pdf-icon.webp`, alt="pdf icon")]
                .content 
                  h3.title اسم الفاتورة
                  p.data اشتراك المنصة عن شهر اكتوبر
            section.list-item
              h3.title تاريخ السداد
              p.data 31-10-2023
            section.list-item
              h3.title الحالة
              p.data تم السداد بنجاح
  // End student invoices section
  
