extends ../layout
include ../components/mixins

block header
  include ../components/student-header

block footer
  include ../components/dashboard-footer

block pageContent
  .container-fluid
    article.dashboard-layout
      //- This block use to : change side menu
      block sideMenu
        include ../components/student-sidemenu
      //- This block use to : add content this page
      article#page-content
        section.main-alert.code-alert.alert.fade.show(role="alert")
          .content
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.63486 17.0624C4.55986 17.0624 4.47736 17.0549 4.40986 17.0474L2.78236 16.8224C2.00236 16.7174 1.29736 16.0199 1.17736 15.2249L0.952358 13.5824C0.877358 13.0574 1.10236 12.3749 1.47736 11.9924L4.76986 8.69994C4.23736 6.56994 4.85236 4.31994 6.41986 2.76744C8.84986 0.344942 12.8024 0.337442 15.2399 2.76744C16.4174 3.94494 17.0624 5.51244 17.0624 7.17744C17.0624 8.84244 16.4174 10.4099 15.2399 11.5874C13.6649 13.1474 11.4224 13.7624 9.30736 13.2224L6.00736 16.5149C5.69236 16.8449 5.12986 17.0624 4.63486 17.0624ZM10.8224 2.06994C9.50986 2.06994 8.20486 2.56494 7.20736 3.56244C5.85736 4.90494 5.36986 6.86994 5.93236 8.69994C5.99236 8.90244 5.93986 9.11244 5.78986 9.26244L2.26486 12.7874C2.13736 12.9149 2.03236 13.2449 2.05486 13.4174L2.27986 15.0599C2.32486 15.3449 2.63236 15.6674 2.91736 15.7049L4.55236 15.9299C4.73236 15.9599 5.06236 15.8549 5.18986 15.7274L8.72986 12.1949C8.87986 12.0449 9.09736 11.9999 9.29236 12.0599C11.0999 12.6299 13.0724 12.1424 14.4224 10.7924C15.3824 9.83244 15.9149 8.54244 15.9149 7.17744C15.9149 5.80494 15.3824 4.52244 14.4224 3.56244C13.4474 2.57244 12.1349 2.06994 10.8224 2.06994Z" fill="#FACC15"/><path d="M6.89256 15.4048C6.75006 15.4048 6.60756 15.3523 6.49506 15.2398L4.77006 13.5148C4.55256 13.2973 4.55256 12.9373 4.77006 12.7198C4.98756 12.5023 5.34756 12.5023 5.56506 12.7198L7.29006 14.4448C7.50756 14.6623 7.50756 15.0223 7.29006 15.2398C7.17756 15.3523 7.03506 15.4048 6.89256 15.4048Z" fill="#FACC15"/><path d="M10.875 8.8125C9.945 8.8125 9.1875 8.055 9.1875 7.125C9.1875 6.195 9.945 5.4375 10.875 5.4375C11.805 5.4375 12.5625 6.195 12.5625 7.125C12.5625 8.055 11.805 8.8125 10.875 8.8125ZM10.875 6.5625C10.5675 6.5625 10.3125 6.8175 10.3125 7.125C10.3125 7.4325 10.5675 7.6875 10.875 7.6875C11.1825 7.6875 11.4375 7.4325 11.4375 7.125C11.4375 6.8175 11.1825 6.5625 10.875 6.5625Z" fill="#FACC15"/></svg>
            p.text هل لديك كود اضافة !؟ 
              a.link(href=`${siteDomin}/student/add-addition-codes.html`) فعلة الان
                i.fa-solid.fa-arrow-left-long
          button(type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close")
            i.fa-regular.fa-circle-xmark
        block studentContent