extends layout
include ../components/mixins

append variable
  - 
    let page            = "questions"
    let pageTitle       = "الطالب - الاسئلة الشائعة"


//- content This page
block studentContent
  // Start questions section
  section.contact-questions 
    .student-heading 
      h1.heading.text-center الاسئلة الشائعة
    article.main-accordion.accordion#questions
      - for(let i = 1; i < 7; i++)
        section.accordion-item
          h2.accordion-header.collapsed(data-bs-toggle="collapse" data-bs-target=`#question_${i}` aria-expanded="true" aria-controls=`#question_${i}`) 
            span كيف يمكنني التسجيل في منصة اي - بلوتو !؟
            i.fa-solid.fa-chevron-down
          .accordion-collapse.collapse(data-bs-parent="#questions", id=`question_${i}`)
            .accordion-body
              p هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
              p إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع.
  // End questions section