include mixins

// start Footer
footer#dashboard-footer
  .container-fluid
    section.footer-bg
      .container-lg.p-0
        article.footer-box
          ul.social-footer
            li
            a.link(href="https://twitter.com/", target="_blank") 
                i.fa-brands.fa-x-twitter
            li
            a.link(href="https://www.linkedin.com/", target="_blank") 
                i.fa-brands.fa-linkedin-in
            li
            a.link(href="https://www.facebook.com/", target="_blank") 
                  i.fa-brands.fa-facebook-f
          p.copywrite جميع الحقوق محفوظة لمنصة #[a(href=`${siteDomin}/`, target="_blank")  اي-بلوتو] التعليمية 2023
// End Footer