extends layout
include ../components/mixins

append variable
  - 
    let page            = "addition-codes"
    let pageTitle       = "المعلم - إضافة اكواد إضافة "


//- content This page
block teacherContent
  // Start teacher heading section
  section.student-heading
    h1.heading.text-center انشاء كود دعوة جديد
  // End teacher heading section
  // Start Add codes section section
  section.add-codes-section
    form.register-form.needs-validation(action="", novalidate)
      section.custom-select.dropdown
        label(for="school_level") اختر المرحلة الدراسية
        input#school_level(type="hidden", name="school_level")
        button.input-button(type="button" data-bs-toggle="dropdown" aria-expanded="false")
          span اختر الصف الدراسي 
          i.fa-solid.fa-chevron-down
        ul.dropdown-menu
          - for (let i = 1; i <= 6; i++)
              a.dropdown-item(data-select-value="secondary-school-2" href="#") الصف الثالث الثانوي, علمي علوم
        span.invalid-feedback الرجاء اختيار الصف الدراسي.
      section.custom-select.dropdown
        label(for="subject_teach") اختر المادة الدراسية
        input#subject_teach(type="hidden", name="subject_teach")
        button.input-button(type="button" data-bs-toggle="dropdown" aria-expanded="false")
          span اختر المادة الدراسية 
          i.fa-solid.fa-chevron-down
        ul.dropdown-menu
          - for (let i = 1; i <= 6; i++)
              a.dropdown-item(data-select-value="secondary-school-2" href="#") رياضيات
        span.invalid-feedback الرجاء اختيار المادة الدراسية.
      section.custom-select.dropdown
        label(for="students_group") اختر المجموعة
        input#students_group(type="hidden", name="students_group")
        button.input-button(type="button" data-bs-toggle="dropdown" aria-expanded="false")
          span اختر المجموعة الدراسية 
          i.fa-solid.fa-chevron-down
        ul.dropdown-menu
          - for (let i = 1; i <= 6; i++)
              a.dropdown-item(data-select-value="students-group-1" href="#") مجموعة يوم السبت
        span.invalid-feedback الرجاء اختيار المجموعة الدراسية.
      section.input-field
        input.form-control#codes_number(type="number", minlength ="3", maxlength="35", name="codes_number", required, placeholder="الرجاء كتابة عدد اكواد الدعوة المطلوبة")
        span.invalid-feedback الرجاء كتابة عدد اكواد صحيح.
        label(for="codes_number") عدد الاكواد
      // button.add-code-link.w-100.mt-3.mt-md-4(type="submit") 
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.63486 17.0629C4.55986 17.0629 4.47736 17.0554 4.40986 17.0479L2.78236 16.8229C2.00236 16.7179 1.29736 16.0204 1.17736 15.2254L0.952358 13.5829C0.877358 13.0579 1.10236 12.3754 1.47736 11.9929L4.76986 8.70043C4.23736 6.57043 4.85236 4.32043 6.41986 2.76793C8.84986 0.345431 12.8024 0.337931 15.2399 2.76793C16.4174 3.94543 17.0624 5.51293 17.0624 7.17793C17.0624 8.84293 16.4174 10.4104 15.2399 11.5879C13.6649 13.1479 11.4224 13.7629 9.30736 13.2229L6.00736 16.5154C5.69236 16.8454 5.12986 17.0629 4.63486 17.0629ZM10.8224 2.07043C9.50986 2.07043 8.20486 2.56543 7.20736 3.56293C5.85736 4.90543 5.36986 6.87043 5.93236 8.70043C5.99236 8.90293 5.93986 9.11293 5.78986 9.26293L2.26486 12.7879C2.13736 12.9154 2.03236 13.2454 2.05486 13.4179L2.27986 15.0604C2.32486 15.3454 2.63236 15.6679 2.91736 15.7054L4.55236 15.9304C4.73236 15.9604 5.06236 15.8554 5.18986 15.7279L8.72986 12.1954C8.87986 12.0454 9.09736 12.0004 9.29236 12.0604C11.0999 12.6304 13.0724 12.1429 14.4224 10.7929C15.3824 9.83293 15.9149 8.54293 15.9149 7.17793C15.9149 5.80543 15.3824 4.52293 14.4224 3.56293C13.4474 2.57293 12.1349 2.07043 10.8224 2.07043Z" fill="#040349"/><path d="M6.89256 15.4048C6.75006 15.4048 6.60756 15.3523 6.49506 15.2398L4.77006 13.5148C4.55256 13.2973 4.55256 12.9373 4.77006 12.7198C4.98756 12.5023 5.34756 12.5023 5.56506 12.7198L7.29006 14.4448C7.50756 14.6623 7.50756 15.0223 7.29006 15.2398C7.17756 15.3523 7.03506 15.4048 6.89256 15.4048Z" fill="#040349"/><path d="M10.875 8.8125C9.945 8.8125 9.1875 8.055 9.1875 7.125C9.1875 6.195 9.945 5.4375 10.875 5.4375C11.805 5.4375 12.5625 6.195 12.5625 7.125C12.5625 8.055 11.805 8.8125 10.875 8.8125ZM10.875 6.5625C10.5675 6.5625 10.3125 6.8175 10.3125 7.125C10.3125 7.4325 10.5675 7.6875 10.875 7.6875C11.1825 7.6875 11.4375 7.4325 11.4375 7.125C11.4375 6.8175 11.1825 6.5625 10.875 6.5625Z" fill="#040349"/></svg>
        span انشاء كود الدعوة
      button.add-code-link.w-100.mt-3.mt-md-4(type="button", data-bs-toggle="modal", data-bs-target="#success_popup") 
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.63486 17.0629C4.55986 17.0629 4.47736 17.0554 4.40986 17.0479L2.78236 16.8229C2.00236 16.7179 1.29736 16.0204 1.17736 15.2254L0.952358 13.5829C0.877358 13.0579 1.10236 12.3754 1.47736 11.9929L4.76986 8.70043C4.23736 6.57043 4.85236 4.32043 6.41986 2.76793C8.84986 0.345431 12.8024 0.337931 15.2399 2.76793C16.4174 3.94543 17.0624 5.51293 17.0624 7.17793C17.0624 8.84293 16.4174 10.4104 15.2399 11.5879C13.6649 13.1479 11.4224 13.7629 9.30736 13.2229L6.00736 16.5154C5.69236 16.8454 5.12986 17.0629 4.63486 17.0629ZM10.8224 2.07043C9.50986 2.07043 8.20486 2.56543 7.20736 3.56293C5.85736 4.90543 5.36986 6.87043 5.93236 8.70043C5.99236 8.90293 5.93986 9.11293 5.78986 9.26293L2.26486 12.7879C2.13736 12.9154 2.03236 13.2454 2.05486 13.4179L2.27986 15.0604C2.32486 15.3454 2.63236 15.6679 2.91736 15.7054L4.55236 15.9304C4.73236 15.9604 5.06236 15.8554 5.18986 15.7279L8.72986 12.1954C8.87986 12.0454 9.09736 12.0004 9.29236 12.0604C11.0999 12.6304 13.0724 12.1429 14.4224 10.7929C15.3824 9.83293 15.9149 8.54293 15.9149 7.17793C15.9149 5.80543 15.3824 4.52293 14.4224 3.56293C13.4474 2.57293 12.1349 2.07043 10.8224 2.07043Z" fill="#040349"/><path d="M6.89256 15.4048C6.75006 15.4048 6.60756 15.3523 6.49506 15.2398L4.77006 13.5148C4.55256 13.2973 4.55256 12.9373 4.77006 12.7198C4.98756 12.5023 5.34756 12.5023 5.56506 12.7198L7.29006 14.4448C7.50756 14.6623 7.50756 15.0223 7.29006 15.2398C7.17756 15.3523 7.03506 15.4048 6.89256 15.4048Z" fill="#040349"/><path d="M10.875 8.8125C9.945 8.8125 9.1875 8.055 9.1875 7.125C9.1875 6.195 9.945 5.4375 10.875 5.4375C11.805 5.4375 12.5625 6.195 12.5625 7.125C12.5625 8.055 11.805 8.8125 10.875 8.8125ZM10.875 6.5625C10.5675 6.5625 10.3125 6.8175 10.3125 7.125C10.3125 7.4325 10.5675 7.6875 10.875 7.6875C11.1825 7.6875 11.4375 7.4325 11.4375 7.125C11.4375 6.8175 11.1825 6.5625 10.875 6.5625Z" fill="#040349"/></svg>
        span انشاء كود الدعوة
  // End Add codes section section
  // Modal => operation success
  section.main-popup#success_popup.modal.fade(tabindex="-1" aria-hidden="true")
    .modal-dialog.modal-dialog-centered
      .modal-content
        section.modal-header
          button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
            i.fa-solid.fa-xmark
        section.modal-body
          section.student-popup-heading 
            .icon.large #[img(src=src=`${siteDomin}/assets/images/add-level-success.webp` alt="success")]
            .heading
              h2.mb-2 تم انشاء اكواد الدعوة بنجاح
              p.description يمكنك تصفح اكواد الدعوة
            a.button(href=`${siteDomin}/teacher/addition-codes-levels.html`) اكواد الدعوة
