extends layout
include ../components/mixins

append variable
  - 
    let page            = "lesson-recording"
    let pageTitle       = "المعلم - تسجيل الدرس"

//- content This page 
block teacherContent
  // Start teacher heading section
  section.teacher-heading.mb-3
    .heading-box
      h1.heading.text-center مادة الرياضيات
      p.description.text-center الصف الاول الثانوي
  section.teacher-heading
    a.add-teaching(href=`${siteDomin}/teacher/add-materials-library.html`)
      i.fa-solid.fa-plus
      span اضافة ملف جديد
    h2.heading.text-center #[span.red-color تسجيل] الدرس الثاني - العلاقات وتمثيلها بيانيا
    a.back-home(href=`${siteDomin}/teacher/lesson-recording-library.html`) 
      span رجوع
      i.fa-solid.fa-arrow-left-long
  // End teacher heading section
  // Start lesson recording options section
  section.lesson-recording-options
    h2.lesson-recording-heading اختر طريقة التسجيل المفضلة لك
    form(action=`${siteDomin}/teacher/lesson-recording.html`)
      section.recording-options-box
        label(for="only_group").recording-option
          input#only_group.d-none(type="radio", name="recording_option", value="only_group")
          .icon 
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.55 20.5896C11.76 20.5896 10.89 20.3096 10.02 19.7596L7.1 17.9296C6.9 17.8096 6.67 17.7396 6.44 17.7396H5C2.58 17.7396 1.25 16.4096 1.25 13.9896V9.98962C1.25 7.56962 2.58 6.23962 5 6.23962H6.43C6.66 6.23962 6.89 6.16962 7.09 6.04962L10.01 4.21962C11.47 3.30962 12.89 3.13962 14.01 3.75962C15.13 4.37962 15.74 5.66962 15.74 7.39962V16.5696C15.74 18.2896 15.12 19.5896 14.01 20.2096C13.57 20.4696 13.07 20.5896 12.55 20.5896ZM5 7.74962C3.42 7.74962 2.75 8.41962 2.75 9.99962V13.9996C2.75 15.5796 3.42 16.2496 5 16.2496H6.43C6.95 16.2496 7.45 16.3896 7.89 16.6696L10.81 18.4996C11.77 19.0996 12.68 19.2596 13.29 18.9196C13.9 18.5796 14.25 17.7296 14.25 16.5996V7.40962C14.25 6.26962 13.9 5.41962 13.29 5.08962C12.68 4.74962 11.77 4.89962 10.81 5.50962L7.88 7.32962C7.45 7.60962 6.94 7.74962 6.43 7.74962H5Z" fill="#06D9C8"/><path d="M18 16.7503C17.84 16.7503 17.69 16.7003 17.55 16.6003C17.22 16.3503 17.15 15.8803 17.4 15.5503C18.97 13.4603 18.97 10.5403 17.4 8.45027C17.15 8.12027 17.22 7.65027 17.55 7.40027C17.88 7.15027 18.35 7.22027 18.6 7.55027C20.56 10.1703 20.56 13.8303 18.6 16.4503C18.45 16.6503 18.23 16.7503 18 16.7503Z" fill="#06D9C8"/><path d="M19.83 19.2503C19.67 19.2503 19.52 19.2003 19.38 19.1003C19.05 18.8503 18.98 18.3803 19.23 18.0503C21.9 14.4903 21.9 9.51027 19.23 5.95027C18.98 5.62027 19.05 5.15027 19.38 4.90027C19.71 4.65027 20.18 4.72027 20.43 5.05027C23.5 9.14027 23.5 14.8603 20.43 18.9503C20.29 19.1503 20.06 19.2503 19.83 19.2503Z" fill="#06D9C8"/></svg>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.88 20.8596H6.81C3.26 20.8596 2 18.3696 2 16.0496V7.94965C2 4.48965 3.35 3.13965 6.81 3.13965H12.88C16.34 3.13965 17.69 4.48965 17.69 7.94965V16.0496C17.69 19.5096 16.34 20.8596 12.88 20.8596ZM6.81 4.65965C4.2 4.65965 3.52 5.33965 3.52 7.94965V16.0496C3.52 17.2796 3.95 19.3396 6.81 19.3396H12.88C15.49 19.3396 16.17 18.6596 16.17 16.0496V7.94965C16.17 5.33965 15.49 4.65965 12.88 4.65965H6.81Z" fill="#06D9C8"/><path d="M20.7799 18.1105C20.3499 18.1105 19.7999 17.9705 19.1699 17.5305L16.4999 15.6605C16.2999 15.5205 16.1799 15.2905 16.1799 15.0405V8.96048C16.1799 8.71048 16.2999 8.48048 16.4999 8.34048L19.1699 6.47048C20.3599 5.64048 21.2299 5.88048 21.6399 6.09048C22.0499 6.31048 22.7499 6.88048 22.7499 8.33048V15.6605C22.7499 17.1105 22.0499 17.6905 21.6399 17.9005C21.4499 18.0105 21.1499 18.1105 20.7799 18.1105ZM17.6899 14.6405L20.0399 16.2805C20.4899 16.5905 20.8099 16.6205 20.9399 16.5505C21.0799 16.4805 21.2299 16.2005 21.2299 15.6605V8.34048C21.2299 7.79048 21.0699 7.52048 20.9399 7.45048C20.8099 7.38048 20.4899 7.41048 20.0399 7.72048L17.6899 9.36048V14.6405Z" fill="#06D9C8"/><path d="M11.5 11.75C10.26 11.75 9.25 10.74 9.25 9.5C9.25 8.26 10.26 7.25 11.5 7.25C12.74 7.25 13.75 8.26 13.75 9.5C13.75 10.74 12.74 11.75 11.5 11.75ZM11.5 8.75C11.09 8.75 10.75 9.09 10.75 9.5C10.75 9.91 11.09 10.25 11.5 10.25C11.91 10.25 12.25 9.91 12.25 9.5C12.25 9.09 11.91 8.75 11.5 8.75Z" fill="#06D9C8"/></svg>
          h3.heading فيديو صوت وصورة
        label(for="groups").recording-option
          input#groups.d-none(type="radio", name="recording_option", value="groups")
          .icon 
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.55 20.5896C11.76 20.5896 10.89 20.3096 10.02 19.7596L7.1 17.9296C6.9 17.8096 6.67 17.7396 6.44 17.7396H5C2.58 17.7396 1.25 16.4096 1.25 13.9896V9.98962C1.25 7.56962 2.58 6.23962 5 6.23962H6.43C6.66 6.23962 6.89 6.16962 7.09 6.04962L10.01 4.21962C11.47 3.30962 12.89 3.13962 14.01 3.75962C15.13 4.37962 15.74 5.66962 15.74 7.39962V16.5696C15.74 18.2896 15.12 19.5896 14.01 20.2096C13.57 20.4696 13.07 20.5896 12.55 20.5896ZM5 7.74962C3.42 7.74962 2.75 8.41962 2.75 9.99962V13.9996C2.75 15.5796 3.42 16.2496 5 16.2496H6.43C6.95 16.2496 7.45 16.3896 7.89 16.6696L10.81 18.4996C11.77 19.0996 12.68 19.2596 13.29 18.9196C13.9 18.5796 14.25 17.7296 14.25 16.5996V7.40962C14.25 6.26962 13.9 5.41962 13.29 5.08962C12.68 4.74962 11.77 4.89962 10.81 5.50962L7.88 7.32962C7.45 7.60962 6.94 7.74962 6.43 7.74962H5Z" fill="#9CADC3"/><path d="M18 16.7503C17.84 16.7503 17.69 16.7003 17.55 16.6003C17.22 16.3503 17.15 15.8803 17.4 15.5503C18.97 13.4603 18.97 10.5403 17.4 8.45027C17.15 8.12027 17.22 7.65027 17.55 7.40027C17.88 7.15027 18.35 7.22027 18.6 7.55027C20.56 10.1703 20.56 13.8303 18.6 16.4503C18.45 16.6503 18.23 16.7503 18 16.7503Z" fill="#9CADC3"/><path d="M19.83 19.2503C19.67 19.2503 19.52 19.2003 19.38 19.1003C19.05 18.8503 18.98 18.3803 19.23 18.0503C21.9 14.4903 21.9 9.51027 19.23 5.95027C18.98 5.62027 19.05 5.15027 19.38 4.90027C19.71 4.65027 20.18 4.72027 20.43 5.05027C23.5 9.14027 23.5 14.8603 20.43 18.9503C20.29 19.1503 20.06 19.2503 19.83 19.2503Z" fill="#9CADC3"/></svg>
          h3.heading تسجيل صوت فقط 
        label(for="student").recording-option
          input#student.d-none(type="radio", name="recording_option", value="student")
          .icon 
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.88 20.8596H6.81C3.26 20.8596 2 18.3696 2 16.0496V7.94965C2 4.48965 3.35 3.13965 6.81 3.13965H12.88C16.34 3.13965 17.69 4.48965 17.69 7.94965V16.0496C17.69 19.5096 16.34 20.8596 12.88 20.8596ZM6.81 4.65965C4.2 4.65965 3.52 5.33965 3.52 7.94965V16.0496C3.52 17.2796 3.95 19.3396 6.81 19.3396H12.88C15.49 19.3396 16.17 18.6596 16.17 16.0496V7.94965C16.17 5.33965 15.49 4.65965 12.88 4.65965H6.81Z" fill="#9CADC3"/><path d="M20.7799 18.1105C20.3499 18.1105 19.7999 17.9705 19.1699 17.5305L16.4999 15.6605C16.2999 15.5205 16.1799 15.2905 16.1799 15.0405V8.96048C16.1799 8.71048 16.2999 8.48048 16.4999 8.34048L19.1699 6.47048C20.3599 5.64048 21.2299 5.88048 21.6399 6.09048C22.0499 6.31048 22.7499 6.88048 22.7499 8.33048V15.6605C22.7499 17.1105 22.0499 17.6905 21.6399 17.9005C21.4499 18.0105 21.1499 18.1105 20.7799 18.1105ZM17.6899 14.6405L20.0399 16.2805C20.4899 16.5905 20.8099 16.6205 20.9399 16.5505C21.0799 16.4805 21.2299 16.2005 21.2299 15.6605V8.34048C21.2299 7.79048 21.0699 7.52048 20.9399 7.45048C20.8099 7.38048 20.4899 7.41048 20.0399 7.72048L17.6899 9.36048V14.6405Z" fill="#9CADC3"/><path d="M11.5 11.75C10.26 11.75 9.25 10.74 9.25 9.5C9.25 8.26 10.26 7.25 11.5 7.25C12.74 7.25 13.75 8.26 13.75 9.5C13.75 10.74 12.74 11.75 11.5 11.75ZM11.5 8.75C11.09 8.75 10.75 9.09 10.75 9.5C10.75 9.91 11.09 10.25 11.5 10.25C11.91 10.25 12.25 9.91 12.25 9.5C12.25 9.09 11.91 8.75 11.5 8.75Z" fill="#9CADC3"/></svg>
          h3.heading تسجيل فيديو فقط
      section.mt-4.mt-sm-5
        button.start-recording(type="submit") 
          span بدأ التسجيل
          <svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.0467 17.3829H18.6225C22.4683 17.3829 23.8333 15.3079 23.8333 13.3745V6.62454C23.8333 3.74121 22.3708 2.61621 18.6225 2.61621H12.0467C8.29833 2.61621 6.83583 3.74121 6.83583 6.62454V13.3745C6.83583 16.2579 8.29833 17.3829 12.0467 17.3829ZM18.6225 3.88288C21.45 3.88288 22.1867 4.44954 22.1867 6.62454V13.3745C22.1867 14.3995 21.7208 16.1162 18.6225 16.1162H12.0467C9.21916 16.1162 8.48249 15.5495 8.48249 13.3745V6.62454C8.48249 4.44954 9.21916 3.88288 12.0467 3.88288H18.6225Z" fill="#040349"/><path d="M3.48841 15.0921C3.95424 15.0921 4.55007 14.9754 5.23257 14.6087L8.12507 13.0504C8.34174 12.9337 8.47174 12.7421 8.47174 12.5337V7.46707C8.47174 7.25874 8.34174 7.06707 8.12507 6.9504L5.23257 5.39207C3.94341 4.7004 3.00091 4.9004 2.55674 5.0754C2.11258 5.25874 1.35424 5.73374 1.35424 6.94207V13.0504C1.35424 14.2587 2.11258 14.7421 2.55674 14.9171C2.76257 15.0087 3.08757 15.0921 3.48841 15.0921ZM6.83591 12.2004L4.29007 13.5671C3.80257 13.8254 3.45591 13.8504 3.31507 13.7921C3.16341 13.7337 3.00091 13.5004 3.00091 13.0504V6.9504C3.00091 6.49207 3.17424 6.26707 3.31507 6.20874C3.45591 6.1504 3.80257 6.1754 4.29007 6.43374L6.83591 7.8004V12.2004Z" fill="#040349"/><path d="M13.5417 9.79199C14.885 9.79199 15.9792 8.95033 15.9792 7.91699C15.9792 6.88366 14.885 6.04199 13.5417 6.04199C12.1983 6.04199 11.1042 6.88366 11.1042 7.91699C11.1042 8.95033 12.1983 9.79199 13.5417 9.79199ZM13.5417 7.29199C13.9858 7.29199 14.3542 7.57533 14.3542 7.91699C14.3542 8.25866 13.9858 8.54199 13.5417 8.54199C13.0975 8.54199 12.7292 8.25866 12.7292 7.91699C12.7292 7.57533 13.0975 7.29199 13.5417 7.29199Z" fill="#040349"/></svg>
  // End lesson recording options section