extends layout
include ../components/mixins

append variable
  - 
    let page            = "privacy-policy"
    let pageTitle       = "المعلم - سياسة الخصوصية"


//- content This page
block teacherContent
  // Start privacy policy section
  section
    .student-heading 
      h1.heading.text-center سياسة الخصوصية
    article.normal-text
      - for(let i = 1; i < 4; i++)
        div 
          h2 نص عنوان مؤقت للشروط يمكن استبدالة
          p هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى ... هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى ...هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى ...هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى ...
      div 
        h2 نص عنوان مؤقت للشروط يمكن استبدالة
        ul 
          li هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص #[a(href="#") العربى]
          li هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص #[a(href="#") العربى]
          li هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص #[a(href="#") العربى]
          li هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص #[a(href="#") العربى]
  // End privacy policy section