extends profile-setting
include ../components/mixins

append variable
  - 
    pageTitle = "المعلم - تعديل كلمة المرور"


//- content This page
block profileContent
  // Start profile change data section
  section.profile-change-data
    h2.profile-heading تغيير كلمة المرور
    form.register-form.needs-validation(action="", novalidate)
      label.profile-label(for="new_password") كلمة المرور الحالية
      section.input-field.password.profile-field
        input.form-control#new_password(type="password", minlength ="8", maxlength="25", name="new_password", required, placeholder="كلمة المرور الحالية")
        span.invalid-feedback الرجاء كتابة كلمة مرورة صالحة
        span.eye #[i.fa-solid.fa-eye]
      label.profile-label(for="confirm_password") كلمة المرور الجديدة
      section.input-field.password.profile-field
        input.form-control#confirm_password(type="password", name="confirm_password", placeholder="كلمة المرور الجديدة")
        span.invalid-feedback كلمة المرور مختلفة
        p.field-alert يجب ان تتكون كلمة المرور من حروف A-Z وارقام 123 كذلك علامات خاصة @#$&
        span.eye #[i.fa-solid.fa-eye]
      // button.submit.mt-4(type="submit") حفظ
      button.submit.mt-4(type="button" data-bs-toggle="modal" data-bs-target="#profile_success_popup") حفظ
  // End profile change data section
  // Modal => operation success
  section.main-popup#profile_success_popup.modal.fade(tabindex="-1" aria-hidden="true")
    .modal-dialog.modal-dialog-centered
      .modal-content
        section.modal-header
          button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
            i.fa-solid.fa-xmark
        section.modal-body
          section.student-popup-heading 
            .icon #[img(src=src=`${siteDomin}/assets/images/student-success.webp` alt="success")]
            h2.heading تم الحفظ بنجاح
            a.button(href=`${siteDomin}/teacher/profile-setting.html`) الملف الشخصي
