extends profile-setting
include ../components/mixins

append variable
  - 
    pageTitle = "المعلم - تعديل المواد الدراسية"

//- content This page
block profileContent
  // Start profile change data section
  section.profile-change-data
    h2.profile-heading تعديل المواد الدراسية
    form.mb-4.mb-md-5.register-form.needs-validation(action="", novalidate)
      section.custom-select.dropdown
        input#subject_teach(type="hidden", name="subject_teach")
        button.input-button(type="button" data-bs-toggle="dropdown" aria-expanded="false")
          span اختر المادة الدراسية المراد تدريسها 
          i.fa-solid.fa-chevron-down
        ul.dropdown-menu
          - for (let i = 1; i <= 6; i++)
              a.dropdown-item(data-select-value="secondary-school-2" href="#") رياضيات
        span.invalid-feedback الرجاء اختيار المادة الدراسية المراد تدريسها.
      // button.submit.mt-4(type="submit") حفظ
      button.submit.mt-4(type="button" data-bs-toggle="modal" data-bs-target="#profile_success_popup") إضافة
    h2.profile-heading المراحل الدراسية المضافة سابقا
    section.profile-data-box
      section.profile-data
        p.data الرياضيات
        a.remove(href="#") 
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.9999 4.48633C13.9866 4.48633 13.9666 4.48633 13.9466 4.48633C10.4199 4.13299 6.89994 3.99966 3.41328 4.35299L2.05328 4.48633C1.77328 4.51299 1.52661 4.31299 1.49994 4.03299C1.47328 3.75299 1.67328 3.51299 1.94661 3.48633L3.30661 3.35299C6.85328 2.99299 10.4466 3.13299 14.0466 3.48633C14.3199 3.51299 14.5199 3.75966 14.4933 4.03299C14.4733 4.29299 14.2533 4.48633 13.9999 4.48633Z" fill="#FF3C00"/><path d="M5.66663 3.81398C5.63997 3.81398 5.6133 3.81398 5.57997 3.80732C5.3133 3.76065 5.12663 3.50065 5.1733 3.23398L5.31997 2.36065C5.42663 1.72065 5.5733 0.833984 7.12663 0.833984H8.8733C10.4333 0.833984 10.58 1.75398 10.68 2.36732L10.8266 3.23398C10.8733 3.50732 10.6866 3.76732 10.42 3.80732C10.1466 3.85398 9.88663 3.66732 9.84663 3.40065L9.69997 2.53398C9.60663 1.95398 9.58663 1.84065 8.87997 1.84065H7.1333C6.42663 1.84065 6.4133 1.93398 6.3133 2.52732L6.15997 3.39398C6.11997 3.64065 5.90663 3.81398 5.66663 3.81398Z" fill="#FF3C00"/><path d="M10.14 15.1657H5.85997C3.53331 15.1657 3.43997 13.8791 3.36664 12.8391L2.93331 6.12574C2.91331 5.85241 3.12664 5.61241 3.39997 5.59241C3.67997 5.57907 3.91331 5.78574 3.93331 6.05907L4.36664 12.7724C4.43997 13.7857 4.46664 14.1657 5.85997 14.1657H10.14C11.54 14.1657 11.5666 13.7857 11.6333 12.7724L12.0666 6.05907C12.0866 5.78574 12.3266 5.57907 12.6 5.59241C12.8733 5.61241 13.0866 5.84574 13.0666 6.12574L12.6333 12.8391C12.56 13.8791 12.4666 15.1657 10.14 15.1657Z" fill="#FF3C00"/><path d="M9.10672 11.5H6.88672C6.61339 11.5 6.38672 11.2733 6.38672 11C6.38672 10.7267 6.61339 10.5 6.88672 10.5H9.10672C9.38005 10.5 9.60672 10.7267 9.60672 11C9.60672 11.2733 9.38005 11.5 9.10672 11.5Z" fill="#FF3C00"/><path d="M9.66671 8.83398H6.33337C6.06004 8.83398 5.83337 8.60732 5.83337 8.33398C5.83337 8.06065 6.06004 7.83398 6.33337 7.83398H9.66671C9.94004 7.83398 10.1667 8.06065 10.1667 8.33398C10.1667 8.60732 9.94004 8.83398 9.66671 8.83398Z" fill="#FF3C00"/></svg>
      section.profile-data
        p.data الكمياء
        a.remove(href="#") 
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.9999 4.48633C13.9866 4.48633 13.9666 4.48633 13.9466 4.48633C10.4199 4.13299 6.89994 3.99966 3.41328 4.35299L2.05328 4.48633C1.77328 4.51299 1.52661 4.31299 1.49994 4.03299C1.47328 3.75299 1.67328 3.51299 1.94661 3.48633L3.30661 3.35299C6.85328 2.99299 10.4466 3.13299 14.0466 3.48633C14.3199 3.51299 14.5199 3.75966 14.4933 4.03299C14.4733 4.29299 14.2533 4.48633 13.9999 4.48633Z" fill="#FF3C00"/><path d="M5.66663 3.81398C5.63997 3.81398 5.6133 3.81398 5.57997 3.80732C5.3133 3.76065 5.12663 3.50065 5.1733 3.23398L5.31997 2.36065C5.42663 1.72065 5.5733 0.833984 7.12663 0.833984H8.8733C10.4333 0.833984 10.58 1.75398 10.68 2.36732L10.8266 3.23398C10.8733 3.50732 10.6866 3.76732 10.42 3.80732C10.1466 3.85398 9.88663 3.66732 9.84663 3.40065L9.69997 2.53398C9.60663 1.95398 9.58663 1.84065 8.87997 1.84065H7.1333C6.42663 1.84065 6.4133 1.93398 6.3133 2.52732L6.15997 3.39398C6.11997 3.64065 5.90663 3.81398 5.66663 3.81398Z" fill="#FF3C00"/><path d="M10.14 15.1657H5.85997C3.53331 15.1657 3.43997 13.8791 3.36664 12.8391L2.93331 6.12574C2.91331 5.85241 3.12664 5.61241 3.39997 5.59241C3.67997 5.57907 3.91331 5.78574 3.93331 6.05907L4.36664 12.7724C4.43997 13.7857 4.46664 14.1657 5.85997 14.1657H10.14C11.54 14.1657 11.5666 13.7857 11.6333 12.7724L12.0666 6.05907C12.0866 5.78574 12.3266 5.57907 12.6 5.59241C12.8733 5.61241 13.0866 5.84574 13.0666 6.12574L12.6333 12.8391C12.56 13.8791 12.4666 15.1657 10.14 15.1657Z" fill="#FF3C00"/><path d="M9.10672 11.5H6.88672C6.61339 11.5 6.38672 11.2733 6.38672 11C6.38672 10.7267 6.61339 10.5 6.88672 10.5H9.10672C9.38005 10.5 9.60672 10.7267 9.60672 11C9.60672 11.2733 9.38005 11.5 9.10672 11.5Z" fill="#FF3C00"/><path d="M9.66671 8.83398H6.33337C6.06004 8.83398 5.83337 8.60732 5.83337 8.33398C5.83337 8.06065 6.06004 7.83398 6.33337 7.83398H9.66671C9.94004 7.83398 10.1667 8.06065 10.1667 8.33398C10.1667 8.60732 9.94004 8.83398 9.66671 8.83398Z" fill="#FF3C00"/></svg>
  // End profile change data section
  // Modal => operation success
  section.main-popup#profile_success_popup.modal.fade(tabindex="-1" aria-hidden="true")
    .modal-dialog.modal-dialog-centered
      .modal-content
        section.modal-header
          button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
            i.fa-solid.fa-xmark
        section.modal-body
          section.student-popup-heading 
            .icon #[img(src=src=`${siteDomin}/assets/images/student-success.webp` alt="success")]
            h2.heading تم الحفظ بنجاح
            a.button(href=`${siteDomin}/teacher/profile-setting.html`) الملف الشخصي