extends layout
include ../components/mixins

append variable
  - 
    let page            = "subjects"
    let pageTitle       = "المعلم- الطلاب - مجموعة يوم السبت - الرياضيات - الصف الاول الثانوي"


//- content This page
block teacherContent
  // Start teacher heading section
  section.teacher-heading.mb-3
    a.students-info-box(href=`${siteDomin}/teacher/students-group-students.html`)
      h3.info-heading الطلاب
      ul.info-images 
        - for(let i = 1; i <= 4; i++)
          li.image-item #[img(src=`${siteDomin}/assets/images/teacher-info.webp`, alt="student image")]
        li.image-item.end +22
    .heading-box
      h1.heading.text-center مادة الرياضيات
      p.description.text-center مجموعة يوم السبت
    a.add-teaching(href=`${siteDomin}/teacher/students-group-add-student.html`)
      i.fa-solid.fa-plus
      span اضافة طالب جديد
  // End teacher heading section
  // Start Registered students section
  section.registered-students-section
    .teacher-heading.pb-0.border-0
      h2.heading الطلاب المسجلين
      form.search-form(action="") 
        input#search_input(type="search", name="search_input", placeholder="بحث")
        button(type="submit") 
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_25_4155)"><circle cx="8.625" cy="8.625" r="7.125" stroke="#9CADC3" stroke-width="1.5"/><path d="M13.875 13.875L16.5 16.5" stroke="#9CADC3" stroke-width="1.5" stroke-linecap="round"/></g><defs><clipPath id="clip0_25_4155"><rect width="18" height="18" fill="white"/></clipPath></defs></svg>
    ul.registered-student-list
      - for(let i = 1; i <= 20; i++)
        li.registered-student
          article.registered-student-box
            section.registered-student-data
              .box 
                .image #[img(src=`${siteDomin}/assets/images/teacher-info.webp`, alt="teacher")]
                .content 
                  h3.title اسم الطالب
                  p.data محمد ياسر صلاح
            section.registered-student-data
              h3.title المرحلة الدراسية
              p.data الصف الاول الثانوي
            section.registered-student-data
              h3.title رقم الهاتف
              p.data 01115514107
            section.registered-student-data
              h3.title تاريخ الانضمام
              p.data 12-10-2023
            section.registered-student-data
              h3.title الحالة
              p.data.excluded 
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 11.0625C8.6925 11.0625 8.4375 10.8075 8.4375 10.5V6.75C8.4375 6.4425 8.6925 6.1875 9 6.1875C9.3075 6.1875 9.5625 6.4425 9.5625 6.75V10.5C9.5625 10.8075 9.3075 11.0625 9 11.0625Z" fill="#FF3C00"/><path d="M9 13.4999C8.955 13.4999 8.9025 13.4924 8.85 13.4849C8.805 13.4774 8.76 13.4624 8.715 13.4399C8.67 13.4249 8.625 13.4024 8.58 13.3724C8.5425 13.3424 8.505 13.3124 8.4675 13.2824C8.3325 13.1399 8.25 12.9449 8.25 12.7499C8.25 12.5549 8.3325 12.3599 8.4675 12.2174C8.505 12.1874 8.5425 12.1574 8.58 12.1274C8.625 12.0974 8.67 12.0749 8.715 12.0599C8.76 12.0374 8.805 12.0224 8.85 12.0149C8.9475 11.9924 9.0525 11.9924 9.1425 12.0149C9.195 12.0224 9.24 12.0374 9.285 12.0599C9.33 12.0749 9.375 12.0974 9.42 12.1274C9.4575 12.1574 9.495 12.1874 9.5325 12.2174C9.6675 12.3599 9.75 12.5549 9.75 12.7499C9.75 12.9449 9.6675 13.1399 9.5325 13.2824C9.495 13.3124 9.4575 13.3424 9.42 13.3724C9.375 13.4024 9.33 13.4249 9.285 13.4399C9.24 13.4624 9.195 13.4774 9.1425 13.4849C9.0975 13.4924 9.045 13.4999 9 13.4999Z" fill="#FF3C00"/><path d="M13.5451 16.6199H4.4551C2.9926 16.6199 1.8751 16.0874 1.3051 15.1274C0.742604 14.1674 0.817604 12.9299 1.5301 11.6474L6.0751 3.47238C6.8251 2.12238 7.8601 1.37988 9.0001 1.37988C10.1401 1.37988 11.1751 2.12238 11.9251 3.47238L16.4701 11.6549C17.1826 12.9374 17.2651 14.1674 16.6951 15.1349C16.1251 16.0874 15.0076 16.6199 13.5451 16.6199ZM9.0001 2.50488C8.2951 2.50488 7.6051 3.04488 7.0576 4.01988L2.5201 12.2024C2.0101 13.1174 1.9276 13.9574 2.2801 14.5649C2.6326 15.1724 3.4126 15.5024 4.4626 15.5024H13.5526C14.6026 15.5024 15.3751 15.1724 15.7351 14.5649C16.0951 13.9574 16.0051 13.1249 15.4951 12.2024L10.9426 4.01988C10.3951 3.04488 9.7051 2.50488 9.0001 2.50488Z" fill="#FF3C00"/></svg>
                span مستبعد
          article.registered-student-actions
            a.exclud.action-link(href="") 
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 14.75C11.59 14.75 11.25 14.41 11.25 14V9C11.25 8.59 11.59 8.25 12 8.25C12.41 8.25 12.75 8.59 12.75 9V14C12.75 14.41 12.41 14.75 12 14.75Z" fill="#9CADC3"/><path d="M12 18.0001C11.94 18.0001 11.87 17.9901 11.8 17.9801C11.74 17.9701 11.68 17.9501 11.62 17.9201C11.56 17.9001 11.5 17.8701 11.44 17.8301C11.39 17.7901 11.34 17.7501 11.29 17.7101C11.11 17.5201 11 17.2601 11 17.0001C11 16.7401 11.11 16.4801 11.29 16.2901C11.34 16.2501 11.39 16.2101 11.44 16.1701C11.5 16.1301 11.56 16.1001 11.62 16.0801C11.68 16.0501 11.74 16.0301 11.8 16.0201C11.93 15.9901 12.07 15.9901 12.19 16.0201C12.26 16.0301 12.32 16.0501 12.38 16.0801C12.44 16.1001 12.5 16.1301 12.56 16.1701C12.61 16.2101 12.66 16.2501 12.71 16.2901C12.89 16.4801 13 16.7401 13 17.0001C13 17.2601 12.89 17.5201 12.71 17.7101C12.66 17.7501 12.61 17.7901 12.56 17.8301C12.5 17.8701 12.44 17.9001 12.38 17.9201C12.32 17.9501 12.26 17.9701 12.19 17.9801C12.13 17.9901 12.06 18.0001 12 18.0001Z" fill="#9CADC3"/><path d="M18.06 22.1598H5.93998C3.98998 22.1598 2.49998 21.4498 1.73998 20.1698C0.989976 18.8898 1.08998 17.2398 2.03998 15.5298L8.09998 4.62984C9.09998 2.82984 10.48 1.83984 12 1.83984C13.52 1.83984 14.9 2.82984 15.9 4.62984L21.96 15.5398C22.91 17.2498 23.02 18.8898 22.26 20.1798C21.5 21.4498 20.01 22.1598 18.06 22.1598ZM12 3.33984C11.06 3.33984 10.14 4.05984 9.40998 5.35984L3.35998 16.2698C2.67998 17.4898 2.56998 18.6098 3.03998 19.4198C3.50998 20.2298 4.54998 20.6698 5.94998 20.6698H18.07C19.47 20.6698 20.5 20.2298 20.98 19.4198C21.46 18.6098 21.34 17.4998 20.66 16.2698L14.59 5.35984C13.86 4.05984 12.94 3.33984 12 3.33984Z" fill="#9CADC3"/></svg>
              span استبعاد
            a.remove.action-link(href="") 
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.9999 6.72998C20.9799 6.72998 20.9499 6.72998 20.9199 6.72998C15.6299 6.19998 10.3499 5.99998 5.11992 6.52998L3.07992 6.72998C2.65992 6.76998 2.28992 6.46998 2.24992 6.04998C2.20992 5.62998 2.50992 5.26998 2.91992 5.22998L4.95992 5.02998C10.2799 4.48998 15.6699 4.69998 21.0699 5.22998C21.4799 5.26998 21.7799 5.63998 21.7399 6.04998C21.7099 6.43998 21.3799 6.72998 20.9999 6.72998Z" fill="#FF3C00"/><path d="M8.50001 5.72C8.46001 5.72 8.42001 5.72 8.37001 5.71C7.97001 5.64 7.69001 5.25 7.76001 4.85L7.98001 3.54C8.14001 2.58 8.36001 1.25 10.69 1.25H13.31C15.65 1.25 15.87 2.63 16.02 3.55L16.24 4.85C16.31 5.26 16.03 5.65 15.63 5.71C15.22 5.78 14.83 5.5 14.77 5.1L14.55 3.8C14.41 2.93 14.38 2.76 13.32 2.76H10.7C9.64001 2.76 9.62001 2.9 9.47001 3.79L9.24001 5.09C9.18001 5.46 8.86001 5.72 8.50001 5.72Z" fill="#FF3C00"/><path d="M15.2099 22.7501H8.7899C5.2999 22.7501 5.1599 20.8201 5.0499 19.2601L4.3999 9.19007C4.3699 8.78007 4.6899 8.42008 5.0999 8.39008C5.5199 8.37008 5.8699 8.68008 5.8999 9.09008L6.5499 19.1601C6.6599 20.6801 6.6999 21.2501 8.7899 21.2501H15.2099C17.3099 21.2501 17.3499 20.6801 17.4499 19.1601L18.0999 9.09008C18.1299 8.68008 18.4899 8.37008 18.8999 8.39008C19.3099 8.42008 19.6299 8.77007 19.5999 9.19007L18.9499 19.2601C18.8399 20.8201 18.6999 22.7501 15.2099 22.7501Z" fill="#FF3C00"/><path d="M13.6601 17.25H10.3301C9.92008 17.25 9.58008 16.91 9.58008 16.5C9.58008 16.09 9.92008 15.75 10.3301 15.75H13.6601C14.0701 15.75 14.4101 16.09 14.4101 16.5C14.4101 16.91 14.0701 17.25 13.6601 17.25Z" fill="#FF3C00"/><path d="M14.5 13.25H9.5C9.09 13.25 8.75 12.91 8.75 12.5C8.75 12.09 9.09 11.75 9.5 11.75H14.5C14.91 11.75 15.25 12.09 15.25 12.5C15.25 12.91 14.91 13.25 14.5 13.25Z" fill="#FF3C00"/></svg>
              span حذف الطالب
  // End Registered students section

