extends ../layout
include ../components/mixins

append variable
  - 
    let page            = "reset-password"
    let pageTitle       = "اي بلوتو - إعادة تعيين كلمة المرور"

//- content This page
block pageContent
  // Start registration section
  section.registration-section
    .container-lg
      article.registration-box
        section.register-heading 
          .icon #[img(src=src=`${siteDomin}/assets/images/icons/message-code.svg` alt="كود التحقق")]
          h1.heading قم بأدخال كلمة المرور الجديدة الخاصة بك
        form.register-form.needs-validation(action="", novalidate)
          .input-field.password
            input.form-control#new_password(type="password", minlength ="8", maxlength="25", name="new_password", required)
            span.invalid-feedback الرجاء كتابة كلمة مرورة صالحة
            label(for="new_password") كلمة المرور الجديدة
            span.icon #[i.fa-solid.fa-lock]
            span.eye #[i.fa-solid.fa-eye]
          .input-field.password
            input.form-control#confirm_password(type="password", name="confirm_password")
            span.invalid-feedback كلمة المرور مختلفة
            p.field-alert يجب ان تتكون كلمة المرور من حروف A-Z وارقام 123 كذلك علامات خاصة @#$&
            label(for="confirm_password") اعد ادخال كلمة المرور الجديدة
            span.icon #[i.fa-solid.fa-lock]
            span.eye #[i.fa-solid.fa-eye]
          button.submit(type="submit") دخول
  // End registration  section