extends ../layout
include ../components/mixins

append variable
  - 
    let page            = "sign-up"
    let pageTitle       = "اي بلوتو - تسجيل حساب جديد"

//- content This page
block pageContent
  // Start registration section
  section.registration-section
    .container-lg
      ul.register-nav 
        li 
          span.nav-link(href=`${siteDomin}/registration/sign-up.html` class=(page === "sign-up" ? "active" : null)) تسجيل حساب جديد
        li 
          a.nav-link(href=`${siteDomin}/registration/sign-in.html` class=(page === "sign-in" ? "active" : null)) تسجيل الدخول
      article.registration-box
        form.register-form.needs-validation(action=`${siteDomin}/registration/confirmation-code.html`, novalidate)
          .input-field
            input.form-control#user_name(type="text", minlength ="3", maxlength="35", name="user_name", required)
            span.invalid-feedback الرجاء كتابة اسم مستخدم صالح (من 3 إلى 35 حرف).
            label(for="user_name") الاسم بالكامل
            span.icon #[i.fa-regular.fa-user]
          .input-field
            input.form-control#user_email(type="email", name="user_email", required)
            span.invalid-feedback الرجاء كتابة بريد إلكتروني صالح.
            label(for="user_email") البريد الالكتروني
            span.icon #[i.fa-regular.fa-envelope]
          .input-field
            input.form-control#user_phone(type="number", minlength ="11", maxlength="13", name="user_phone", required)
            span.invalid-feedback الرجاء كتابة رقم هاتف صالح.
            label(for="user_phone") رقم الهاتف
            span.icon #[i.fa-solid.fa-mobile-screen]
          .input-field.password
            input.form-control#user_phone(type="password", minlength ="8", maxlength="25", name="user_password", required)
            span.invalid-feedback الرجاء كتابة كلمة مرورة صالحة
            p.field-alert يجب ان تتكون كلمة المرور من حروف A-Z وارقام 123 كذلك علامات خاصة @#$&
            label(for="user_phone") كلمة المرور
            span.icon #[i.fa-solid.fa-lock]
            span.eye #[i.fa-solid.fa-eye]
          button.submit(type="submit") التالي
  // End registration  section
