$main-color          : var(--main-color);
$second-color        : var(--second-color);
$second-opacity-color : var(--second-opacity-color);
$third-color         : var(--third-color);
$black-color         : var(--black-color);
$red-color           : var(--red-color);
$green-color         : var(--green-color);
$text-color          : var(--text-color);
$background-color    : var(--background-color);
$border-color        : var(--border-color);
$main-space          : var(--main-space);
$main-transition     : var(--main-transition);